<div class="section-container">
  <app-carousel-holder class="carousel-align"></app-carousel-holder>
  <mat-card class="inbox-section mat-elevation-z'">
    <mat-card-content>
      <app-dashboard-inbox-left-side-content></app-dashboard-inbox-left-side-content>

      <app-dashboard-discover-left-side-content></app-dashboard-discover-left-side-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="content-section mat-elevation-z'">
    <mat-card-content>
        <app-dashboard-center-content></app-dashboard-center-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="search-section mat-elevation-z'">
    <mat-card-content>
      <app-dashboard-search-right-side-content></app-dashboard-search-right-side-content>
    </mat-card-content>
  </mat-card>
</div>