<div class="wrapper">
    <div class="row bgImage" style="margin: 0px;">
        <div class="assistant-service col-sm-6 col-12">
            <div class="text-content offset-0 offset-sm-3">
                <p class="title">ASSISTED SERVICE</p>
                <p class="content">A Personalized matchmaking service from Namma Matrimony</p>
                <a href="" class="btn" mat-raised-button color="accent" style="border-radius:18px;">Know More</a>
            </div>
        </div>
        <!-- <div class="col-6 d-none d-sm-block">
            <div class="col-md-6 col-sm-9 col-12">
                <img class="img-fluid" src="../../assets/images/Couple.png" alt="">
            </div>
        </div> -->
    </div>
    <div class="row" style="background: url('../../assets/images/bgstories.png');">
        <div class="col-12">
            <span class="header">MATCHMAKING WEBSITE FEATURES</span>
        </div>
        <div class="feature-container">
            <div class="row">
                <div class="feature-item col-12 col-md-6">
                    <img class="" src="{{features[0].img}}">
                    <div class="">
                        <span class="title">{{features[0].title}}</span>
                        <span class="desc">{{features[0].desc}}</span>
                    </div>
                </div>
                <div class="feature-item col-12 col-md-6">
                    <img class="" src="{{features[1].img}}">
                    <div class="">
                        <span class="title">{{features[1].title}}</span>
                        <span class="desc">{{features[1].desc}}</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="feature-item col-12 col-md-6">
                    <img class="" src="{{features[2].img}}">
                    <div class="">
                        <span class="title">{{features[2].title}}</span>
                        <span class="desc">{{features[2].desc}}</span>
                    </div>
                </div>
                <div class="feature-item col-12 col-md-6">
                    <img class="" src="{{features[3].img}}">
                    <div class="">
                        <span class="title">{{features[3].title}}</span>
                        <span class="desc">{{features[3].desc}}</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="feature-item col-12 col-md-6">
                    <img class="" src="{{features[4].img}}">
                    <div class="">
                        <span class="title">{{features[4].title}}</span>
                        <span class="desc">{{features[4].desc}}</span>
                    </div>
                </div>
                <div class="feature-item col-12 col-md-6">
                    <img class="" src="{{features[5].img}}">
                    <div class="">
                        <span class="title">{{features[5].title}}</span>
                        <span class="desc">{{features[5].desc}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>