.wrapper {
    width: 100%;
    background-size: 100% 100%;
    // position: relative;
    background: url('../../assets/images/additional-services.png') no-repeat center top;
    .header {
        color: white;
        font-weight: 700;
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-top: 30px
    }
}