<div class="wrapper">
    <div class="row">
        <div class="header">ADDITIONAL FEATURES</div>
    </div>
    <div class="row" style="text-align: center;margin-top: 50px">
        <div class="col-4">
            <img class="img-fluid" src="../../assets/images/bazaar.png" alt="bazaar" /><br><br>
            <a href="" mat-raised-button color="accent" style="border-radius:18px;font-family: Futura Book Regular;
            ">Know More</a><br><br><br>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../assets/images/photography.png" alt="bazaar" /><br><br>
            <a href="" mat-raised-button color="accent" style="border-radius:18px;font-family: Futura Book Regular;
            ">Know More</a><br><br><br>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../assets/images/mandapam.png" alt="bazaar" /><br><br>
            <a href="" mat-raised-button color="accent" style="border-radius:18px;font-family: Futura Book Regular;
            ">Know More</a><br><br><br>
        </div>
    </div>
</div>