.conversation-container {
    width: 100%;
    padding: 20px;
    height: 80vh;
    background: url('../../../assets/images/bgstories.png');
    
    .row {
        height: 100%;   
        .col-6 {
            overflow: scroll;
        }
        .left-title { 
            margin-left: 20px;
            font-weight: 600;
            position: fixed;
        }
        form {
            position: fixed;
            bottom: 10px;
            margin-left: 20px;
            height: 50px;
            width: 50%;
            .form-group {
                width: 80%;
                float: left;
            }
            button {
                width: 10%;
                float: left;
            }
        }
    }

    .chat-list{
        padding-left: 20px;
        padding-top: 20px;
        list-style: none;
        .chat-item {
            border: 0.4px solid #a3a1a1;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            background: white;
            cursor: pointer;
            padding: 10px;
            margin-top: 10px;
            .user-image{
                height: 60px;
                width: 60px;
                float: left;
                border-radius: 30px;
                margin-left: 10px;
            }
            .chat-detail {
                float: left;
                    left: 90px;
                    margin-top: -5px;
                span {
                    display: block;
                    &.user-name{
                        font-weight: 600;
                    }   
                    &.message{
                         font-size: 14px;
                    }
                }
            }
            .date{
                font-size: 10px;
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }
    .message-list{
        padding-left: 20px;
        padding-top: 20px;
        list-style: none;
        width: 100%;
        margin-top: 20px;
        overflow: scroll;
        height: 100%;

        .chat-item {
            width: 80%;
            border: 0.4px solid #a3a1a1;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            background: white;
            padding: 10px;
            margin-top: 10px;
            
            .user-image{
                height: 60px;
                width: 60px;
                float: left;
                border-radius: 30px;
                margin-left: 10px;
            }
            .chat-detail {
                float: left;
                    left: 90px;
                    margin-top: -5px;
                span {
                    display: block;
                    &.user-name{
                        font-weight: 600;
                    }   
                    &.message{
                         font-size: 14px;
                    }
                }
            }
            .date{
                font-size: 10px;
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
        .sent {
            float: right;
            border-radius: 10px 10px 0 10px;
            background: rgb(237, 255, 237);
        }
        .received {
            float: left;
            border-radius: 0 10px 10px 10px;
            background: rgb(252, 238, 231);
        }
    }

}