.profile {
    background: url(../../../assets/images/profile_pattern.png) no-repeat center top;
    /deep/ .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    /deep/ .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
}