<mat-toolbar style="background: url(../../assets/images/floral.png) no-repeat center top;padding: 50px">
    <div class="row" style="width: 100%">
        <div class="offset-sm-2 offset-0 col-sm-4 col-8 col-md-2">
            <img class="img-fluid" style="padding: 0px 20px" src="../../assets/images/logo_new.png">
        </div>
    </div>
</mat-toolbar>
<div class="profile">
    <div class="offset-sm-2 offset-md-2 col-sm-8 col-10 offset-1">
        <mat-card>
            <div class="profile" style="background: white">
                <router-outlet></router-outlet>
            </div>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>