.basic {
    font-family: Futura Book Regular;
    .title {
        font-size: 36px;
        text-align: center;
        color: #ff4081;
        font-family: OptimusPrinceps;
        width: 100%;
    }
    form {
        .alert {
            // background: transparent;
            padding: 5px;
            margin: 0px;
            border: none;
        }
        .alert-danger {
            font-size: 12px;
            color: red;
        }
        .form-control {
            border-radius: 0px !important;
            border: 0.5px solid gray;
        }
        select {
            width: 97%;
            height: 31px;
            font-size: 14px;
            background: #ffffff;
            border: none;
            color: #495057;
            margin: 2px;
        }
    }
    /deep/ .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    /deep/ .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
}