<div class="wrapper">
    <span class="header">Be Inspired By Real Wedding Stories</span>
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="row">
                <div class="offset-md-2 offset-sm-1 offset-0  col">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="square">
                                <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Male & Female</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, te mutat integre quo, pri latine meliore eu. Labitur platonem quaerendum vim te</p>
                                <a href="#" mat-raised-button color="accent" style="border-radius:18px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="square">
                                <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Male & Female</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, te mutat integre quo, pri latine meliore eu. Labitur platonem quaerendum vim te</p>
                                <a href="#" mat-raised-button color="accent" style="border-radius:18px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-sm-block">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="square">
                                <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Male & Female</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, te mutat integre quo, pri latine meliore eu. Labitur platonem quaerendum vim te</p>
                                <a href="#" mat-raised-button color="accent" style="border-radius:18px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1 d-none d-sm-block">

                </div>
            </div>
        </div>
    </swiper>
    <br><br>
</div>