<mat-toolbar class="left-toolbar">
  <mat-toolbar-row class="title">INBOX</mat-toolbar-row>
</mat-toolbar>

<p class="badgeContent">
  <span matBadge="4" matBadgeOverlap="false">Chats</span>
</p>

<p class="badgeContent">
  <span matBadge="4" matBadgeOverlap="false">Accepted</span>
</p>

<p class="badgeContent">
  <span matBadge="4" matBadgeOverlap="false">Interest Sent</span>
</p>

<p class="badgeContent">
  <span matBadge="4" matBadgeOverlap="false">Interest Received</span>
</p>

<p class="badgeContent">
  <span matBadge="4" matBadgeOverlap="false">Rejected</span>
</p>