// component css goes here
.flex-dashboard-toolbar {
    text-align: center;
    margin: auto;
    flex: auto;
}

.img-fluid {
    width: 8% !important;
    padding: 0px !important;
}

.logo-button {
    width: 15%;
}

.toolbar-icons {
    height: 24px;
    width: 24px;
    margin: 0 1%;
}