<div class="wrapper">
    <div class="row">
        <div class="header col">MATRIMONY PRIVACY IN YOUR HANDS</div>
    </div>
    <br>
    <div class="feature-container row" style="margin:0px">
        <div class="privacy-items offset-md-2 offset-sm-1 offset-0 col-8 col-sm-7 col-md-6">
            <div class="feature-item row">
                <img class="vertical-center" src="{{privacies[0].img}}">
                <div class="vertical-center">
                    <span class="desc">{{privacies[0].desc}}</span>
                </div>
            </div>
            <div class="feature-item row">
                <img class="vertical-center" src="{{privacies[1].img}}">
                <div class="vertical-center">
                    <span class="desc">{{privacies[1].desc}}</span>
                </div>
            </div>
            <div class="feature-item row">
                <img class="vertical-center" src="{{privacies[2].img}}">
                <div class="vertical-center">
                    <span class="desc">{{privacies[2].desc}}</span>
                </div>
            </div>
        </div>
        <div class="privacy-img col-4">
            <img class="img-fluid" src="../../assets/images/privacy.png">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a href="" mat-raised-button color="accent" style="border-radius:18px;font-family: Futura Book Regular;
                ">Let's Begin</a>
        </div>
    </div>
    <br><br>
</div>