<div class="wrapper">
    <div class="app-container">
        <div class="content row">
            <div class="col" style="margin-top:2%">
                <img class="" src="../../assets/images/mobiles.png">
            </div>
            <div class="desc col">
                <h4>Happiness is just an App Away</h4>
                <span class="message">Find your right match with Namma Matrimony</span><br/>
                <div class="features">Simple | Fast | Convenient | Safe & Secure</div>
                <div class="availablity">Available on iOS and Android</div>
                <div class="btns">
                    <img src="../../assets/images/appstore.png">
                    <img src="../../assets/images/googleplay.png">
                </div>
            </div>
        </div>
    </div>
</div>