<mat-toolbar class="left-toolbar">
    <mat-toolbar-row class="title">DASHBOARD</mat-toolbar-row>
  </mat-toolbar>
  
  <p class="badgeContent">
    <span matBadge="4" matBadgeOverlap="false">Location Mathces</span>
  </p>
  
  <p class="badgeContent">
    <span matBadge="4" matBadgeOverlap="false">Star Matches</span>
  </p>
  
  <p class="badgeContent">
    <span matBadge="4" matBadgeOverlap="false">Education Matches</span>
  </p>
  
  <p class="badgeContent">
    <span matBadge="4" matBadgeOverlap="false">Profession Matches</span>
  </p>