<div class="wrapper">
    <span class="header">BE INSPIRED BY REAL WEDDING STORIES</span>
    <swiper [config]="config">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="card" >
                 <div class="square">
                       <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
                 </div>
                 <div class="card-body">
                 <h5 class="card-title">Suren & Malar</h5>
                 <p class="card-text">Some quick example text to build</p>
                 <a href="#" class="btn btn-primary">Read More</a>
                 </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <a href="#" class="btn btn-primary">Read More</a>
               </div>
            </div>
        </div>
      </div>
      </swiper>
  </div>